@model IEnumerable<Implementacija.Models.Odgovori>

    <style>
        body {
        color: snow;
        background-image: url("https://i.ibb.co/dGmJRcn/Pocetna-Stranica.png");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>

    <!--Comment box-->

    <center><div style="width:35%" class="card">
            <div class="row">
                <div class="col-2"> <img src="~/lib/images/user-comment.png" width="70" class="rounded-circle mt-2"> </div>
                <div class="col-10">
                    <div class="comment-box ml-2">
                        <h4 style="margin-left:30%">Leave a comment</h4>
                        <div class="comment-area"> 

                            <!--Unos teksta komentara-->
                            @using (Html.BeginForm("CreateReply", "Komentar", FormMethod.Post))
                            {
                                <input type="text" name="Tekst"/>
                                <input type="submit" value="Submit"/>
                            }

                            <div class="comment-btns mt-2">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="pull-left" > <button class="btn btn-danger btn-sm">Cancel</button> </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="pull-right"> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div></center>

    <!--All the reply's-->
    <div style="width:100%" class="CommentSection">
    <br />
    <center><h2>Reply's</h2></center>
    @foreach (var item in Model)
   {
        <div id="example" style="width:67%;margin-bottom:10px;margin-left:200px;" class="card bg-light text-dark">
         <div class="row">
        <div class="col-2"><img src="~/lib/images/user-comment.png" width="55" class="rounded-circle mt-2" style="margin-bottom:5px;"> </div>
          <div class="col-10">
        <div class="comment-box ml-2">
            <b><h20>@item.Autor <i style="font-size:15px"></i> </h20></b>
             <div class="comment-area"> 
                 <p>@item.Tekst</p>

                 <div class="comment-btns mt-2">
        <div class="row">
        <div class="col-6">
        <div class="pull-right"> 
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>
        
        
         
     
   }
</div>