@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}
@inject UserManager<ApplicationUser> UserManager

<style>
    body {
        color: snow;
        background-image: url("https://i.ibb.co/dGmJRcn/Pocetna-Stranica.png");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .Home-logo {
        margin-left: 20px;
        margin-top: 20px;
        float:left;
    }
    .Text{
        width:67%;     
        height:50%;
        float:left;
        margin-top:20%;
        text-align:center;
    }
</style>


    <div class="Home-logo">
        <a sp-area="" asp-controller="Home" asp-action="Index">
        <img style="height:6em" src="https://i.ibb.co/n0bPk5B/logo-movie-removebg-preview.png" /><br />
        </a>
        <div style="height:30px">
            <a sp-area="" asp-controller="Home" asp-action="Index">
            <img style="margin-left: 28px;margin-top:30px;margin-bottom:5px;height:50px" src="https://i.ibb.co/7pZzW4m/icons8-home-50.png" alt="Home page"/><br />
            </a>
            <a style="color:white;margin-left:30px;font-size:large"
             sp-area="" asp-controller="Home" asp-action="Index">Home page</a>
        </div><br /><br /><br />

        <a sp-area="" asp-controller="Film" asp-action="Recommended">
        <img style="margin-left: 28px;margin-top:20px;height:50px" src="https://i.ibb.co/1TzPdFB/list-icon.png" alt="Recommended page" /><br />
        </a>
        <a style="color:white;margin-left:30px;margin-top:10px;font-size:large"
        sp-area="" asp-controller="Film" asp-action="Recommended">Recommended page</a><br /><br />

    @if (User.Identity.IsAuthenticated)
 {
        <a sp-area="" asp-controller="Kolekcija" asp-action="Index">
        <img style="margin-left: 28px;height:50px" src="https://i.ibb.co/GtcPpg8/playlist.png" /><br />
        </a>
        <a style="color:white;margin-left:30px;margin-top:10px;font-size:large" 
        sp-area="" asp-controller="Kolekcija" asp-action="Index">Collections</a>
 }
    </div>

@if (User.Identity.IsAuthenticated)
{
    <div class="Text">
        <h1 style="font-size:5vw">Welcome!</h1>
        <h2>@UserManager.GetUserAsync(User).Result?.KorisnickoIme</h2>
        @{

                    <form action="/search/{@ViewBag.title}" class="d-flex" method="post">
        <input name="searchTitle" class="form-control me-2" type="search" placeholder="Search by movie title" style="width: 230px;margin-left:260px">
         @* <button class="btn btn-outline-success" type="submit">Search</button> *@
                    </form> 
                    }
    </div>
}
else{
    <div class="Text">
        <h1 style="font-size:5vw">My Movie Library!</h1>
        <p class="lead font-weight-normal" style="color:white">Are you a movie lover?<br /> Join us as soon as possible!</p>
        @{

                    <form action="/search/{@ViewBag.title}" class="d-flex" method="post">
        <input name="searchTitle" class="form-control me-2" type="search" placeholder="Search by movie title" style="width: 230px;margin-left:260px">
         @* <button class="btn btn-outline-success" type="submit">Search</button> *@
                    </form> 
                    }
    </div>
}

 


