@{
    ViewData["Title"] = "About us";
}

<style>
    body {
        background-image: url('https://i.ibb.co/dGmJRcn/Pocetna-Stranica.png');
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div.transbox {
        margin: 30px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.6;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 15px;
        margin-left: 40%;
        margin-right: auto;
    }

    td {
        width: 150px;
        text-align: left;
        padding: 5px;
    }
</style>

<div class="container">
    <div class="transbox">
        <div class="col-md-11 p-lg-4 mx-auto my-4">
            <h1 class="display-4 font-weight-normal">About us</h1>
            <p class="lead font-weight-normal">MyMovieLibrary je aplikacija koja omogućava korisniku kreiranje vlastitog dnevnika filmova, koji obezbjeđuje njihovo jednostavno organizovanje, upravljanje i pretraživanje. Sistem je od koristi za sve ljubitelje filmova koji će sa MyMovieLibrary moći brzo pronaći bilo koji film u svojoj biblioteci, podijeliti omiljene i pratiti i ocjenjivati pregledane. Korisnicima je na raspolaganju širok spektar filmova sa svim glavnim informacijama na osnovu kojih biramo sljedeći film za gledati.</p>
            <br />
            <br />

            <p class="lead font-weight-bold">Phone</p>
            <p class="lead font-weight-light">+38761123456</p>
            <br />
            <p class="lead font-weight-bold">Email</p>
            <p class="lead font-weight-light" style="color:red">santeam@gmail.com</p>
            <br />
            <p class="lead font-weight-bold">Address</p>
            <p class="lead font-weight-light">New York, NY 535022, United States</p>
            <br />
            <p class="lead font-weight-bold">Social</p>
            <p class="lead font-weight-light" style="color:red">Twitter Facebook</p>

        </div>        
    </div>
</div>