@model IEnumerable<Implementacija.Models.Administrator>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        color: snow;
        background-image: url("https://i.ibb.co/dGmJRcn/Pocetna-Stranica.png");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .Home-logo {
        margin-left: 20px;
        margin-top: 20px;
        float:left;
    }
    .Text{
        width:67%;     
        height:50%;
        float:left;
        margin-top:20%;
        text-align:center;
    }
    .User{
        width:75%;
        margin-bottom:5%;
        margin-top:8%;
        float:right;
        margin-right:10%
    }
    .UvidUKorisnike{
        height:200px;
        width:30%;
        background-color: rgb(0, 0, 0,0.7);
        border:2px solid gray;
        float:left;
        margin-right:30px;
    }
    .PregledKomentara{
        height:200px;
        width:30%;
        background-color: rgb(0, 0, 0,0.7);
        border:2px solid gray;
        float:left;
        margin-right:30px;
    }
    .ZahtjeviZaPreuzimanje{
        height:200px;
        width:30%;
        background-color: rgb(0, 0, 0,0.7);
        border:2px solid gray;
        float:left;
    }

</style>


    <div class="Home-logo">
        <img style="height:6em" src="https://i.ibb.co/n0bPk5B/logo-movie-removebg-preview.png" /><br />
        <div style="height:30px">
            <a sp-area="" asp-controller="Admin" asp-action="Index">
            <img style="margin-left: 28px;margin-top:30px;margin-bottom:5px;height:50px" src="https://i.ibb.co/7pZzW4m/icons8-home-50.png" alt="Home page"/><br />
            </a>
            <a style="color:white;margin-left:30px;font-size:large"
             sp-area="" asp-controller="Admin" asp-action="Index">Home page</a>
        </div><br /><br /><br />
    </div>

  <div class="User">
    <center>
        <img style="height:5em" src="https://i.ibb.co/NyzBBdb/icons8-user-64.png" /><br />
        <p style="color:white;margin-left:10px;font-size:30px;margin-top:10px;font-weight:bold">@User.Identity.Name</p>
        <p style="font-size:25px;margin-left:2%">Administrator</p>
    </center>
</div>

<!--Odabir akcija za admina-->
<div style="margin-left:100px">

<a sp-area="" asp-controller="Admin" asp-action="UserAccounts">
<div class="UvidUKorisnike">
    <div>
        <img style="margin-left:10px;margin-top:20px" src="https://i.ibb.co/T4jb0Z7/arrow.png" alt="arrow" />
        <img style="float:right;height:4em;margin-top:5px;margin-right:10px"
             src="https://i.ibb.co/LJL3JLg/icons8-customer-skin-type-7-48.png" alt="User image" />
        <div style="height:110px"></div>
        <p style="font-size:20px;margin-left:10px;font-weight:bold;color:rgb(202,202,202)">Insight to user accounts</p>
    </div>
</div>
</a>

<a sp-area="" asp-controller="Admin" asp-action="OverviewOfComments">
<div class="PregledKomentara">
    <img style="margin-left:10px;margin-top:20px" src="https://i.ibb.co/T4jb0Z7/arrow.png" alt="arrow"/>
     <img style="float:right;height:4em;margin-top:5px;margin-right:10px"
          src="https://i.ibb.co/XVjqGzS/icons8-messaging-50.png" alt="Comments image" />
    <div style="height:110px"></div>
    <p style="font-size:20px;margin-left:10px;font-weight:bold;color:rgb(202,202,202)"> Overview  of comments</p>
</div>
</a>

<a sp-area="" asp-controller="Admin" asp-action="MoviesFromDatabase">
<div class="ZahtjeviZaPreuzimanje">
    <img style="margin-left:10px;margin-top:20px" src="https://i.ibb.co/T4jb0Z7/arrow.png" />
    <img style="float:right;height:4em;margin-top:5px;margin-right:10px"
          src="https://i.ibb.co/VQ7WMf1/icons8-downloads-folder-64.png" alt="Download image" />
    <div style="height:110px"></div>
    <p style="font-size:20px;margin-left:10px;font-weight:bold;color:rgb(202,202,202)">Download requests</p>
</div>
</a>
</div>

 


